/* Track */
/* Handle */
/* Handle on hover */
/*LOGIN*/
/*DASHBOARD*/
/*#progreso{height:360px;}*/
/*#dashboard .toolbar .toolbar-header{display:block;}*/


div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Muli', sans-serif;
}
.text-11 {
	font-size: 11px;
	line-height: 13px;
}
.text-12 {
	font-size: 12px;
	line-height: 14px;
}
.text-13 {
	font-size: 13px;
	line-height: 15px;
}
.text-14 {
	font-size: 14px;
	line-height: 16px;
}
.text-15 {
	font-size: 15px;
	line-height: 17px;
}
.text-16 {
	font-size: 16px;
	line-height: 18px;
}
.mbsc-ios {
	.mbsc-cal {
		font-size: 12px;
	}
}
// &::-webkit-scrollbar {
// 	width: 4px;
// }
// &::-webkit-scrollbar-track {
// 	background: #f1f1f1;
// }
// &::-webkit-scrollbar-thumb {
// 	background: #0076AB;
// 	&:hover {
// 		background: #42bdc6;
// 	}
// }
// &::-webkit-input-placeholder {
// 	color: #ccc;
// 	opacity: 1;
// }
// &::-moz-placeholder {
// 	color: #ccc;
// 	opacity: 1;
// }
// &:-ms-input-placeholder {
// 	color: #ccc;
// 	opacity: 1;
// }
// &:-moz-placeholder {
// 	color: #ccc;
// 	opacity: 1;
// }

$font:  'Muli', sans-serif;

.titulo{
	font-size: 70px;
	font-family: $font;
	font-weight: 900;
	padding: 1px 10px 1px 50px;
	color: white;
}


.main-content {
	padding: 0;
	overflow: hidden;
}
.main-content#login {
	background: #fff;
	color: #fff;
	padding: 0;
	min-height: calc(100vh);
	position: relative;
}
.breadcrumb1 {
	position: absolute;
	width: max-content;
	z-index: 10;
	left: 150%;
	top: 55px;	
	border-radius: 0 8px 8px 0;
}
.login-sidebar {
	position: relative;
	padding: 30px 0 20px 0;
	font-size: 11px;
	color: #606060;
	min-height: calc(100vh);
	&:after {
		content: '';
		position: absolute;
		bottom: 30px;
		left: 32%;
		width: 50%;
		height: 1px;
		// background: #0776AB;
	}
	.logo {
		width: 85%;
		img {
			width: 100%;
		}
	}
	.menu {
		padding-top: 20px;
		padding-left: 12px;
		position: relative;
		height: 100%;
	}
	.menu-btn {
		margin: 20px auto;
		width: 40px;
		height: 40px;
		padding-top: 6px;
		svg {
			width: 60%;
		}
		.st0 {
			fill: #0076AB;
		}
	}
	.menu-btn.active {
		background: #0776AB;
		border-radius: 8px;
		.st0 {
			fill: #fff;
		}
		
	}
	.info {
		position: absolute;
		bottom: 30px;
		left: 15%;
		width: 70%;
		h3 {
			font-size: 13px;
			color: #0776a8;
			font-weight: bold;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				width: 95%;
				height: 2px;
				opacity: 0.5;
				background: #0776a8;
			}
		}
	}
}


#login {
	.login-sidebar {
		&:after {
			content: '';
			position: absolute;
			width: 150%;
			height: 80px;
			background: url(../img/dots-login.png) no-repeat center center;
			background-size: contain;
			left: 0;
			top: 30%;
			margin-top: -40px;
			z-index: 9;
		}
	}
	.login-data {
		position: relative;
		display: flex;
		align-items: center;
		vertical-align: middle;
		z-index: 2;
		text-align: right;
		padding: 15px 5%;
		border-radius: 40px 0 0 0;
		min-height: calc(100vh);
		background: url(../img/login_bg.jpg) no-repeat bottom center #0776a8;
		background-size: cover;
		.bg2{
			position: absolute;
			right: 0;
			top: 0;
			background: url(../img/amarillo.png) no-repeat top right ;
			background-size: contain;
			width: 50%;
			height: 80%;
		}
		h1 {
			margin-bottom: 20px;
			text-align: center;
			font-size: 36px;
		}
		.card-content {
			width: 50%;
			margin-top: 240px;
			margin-left: 200px;
		}
		.card {
			display: inline-block;
			padding: 30px 40px;
			font-size: 12px;
			border-radius: 30px;
			text-align: center;
			color: #606060;
		}
		
	}
	#login-form {
		width: 100%;
		display: inline-block;
		margin: 20px 0 0 0;
	}
	.form-group {
		margin-bottom: 0.5rem;
		.form-control {
			background: transparent !important;
			border: 1px solid #ccc !important;
			border-radius: 6px;
			color: #999;
			box-shadow: none !important;
			font-size: 11px;
		}
	}
	.btn {
		background: #fce301;
		margin: 15px 0;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 30px;
		color: #000;
		font-weight: bold;
		font-size: 11px;
	}
}
.social-login {
	margin: 10px 0 8px 0;
	img {
		margin: 5px 0;
	}
	h3 {
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-top: 0;
	}
}
.forgot {
	color: #fce301;
	font-weight: bold;
	text-decoration: none !important;
	font-size: 11px;
	&:hover {
		color: #999;
	}
}
.signup {
	margin: 0;
	color: #b0b0b0;
	font-size: 12px;
	text-decoration: none !important;
	display: block;
	a {
		color: #fce301 !important;
	}
	&:hover {
		color: #999;
	}
}
.login-data {
	legend {
		color: #fff;
		margin-top: 50px;
		border: 0;
	}
	.control-label {
		font-weight: 300;
		color: #42bdc6;
		margin-top: 20px;
		text-align: left;
		width: 100%;
	}
}
.logo-unc {
	position: absolute;
	right: 25px;
	bottom: 25px;
	z-index: 9;
	width: 12%;
	img {
		width: 100%;
	}
}
#dashboard {
	padding: 0;
	.login-sidebar {
		.logo {
			width: 150%;
			z-index: 9;
			position: relative;
		}
	}
	.dashboard-data.sinfondo{
		background:#D9E0ED !important;
		
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			background: url(../img/dashboard_bg.png) no-repeat top right ;
			background-size: 70%;
			width: 100%;
			height: 100%;
		}
		
	}


	#sinDerecha.dashboard-data{
		padding: 150px 10% 15px 10% !important;

		
		
	}
	.dashboard-data {
		position: relative;
		display: flex;
		align-items: center;
		vertical-align: middle;
		z-index: 2;
		text-align: left;
		padding: 150px 10% 15px 10%;
		border-radius: 40px 0 0 0;
		min-height: calc(100vh);
		background: url(../img/login_bg.jpg) no-repeat bottom center #0776a8;
		background-size: cover;
		// background: -moz-linear-gradient(left, rgba(183,191,201,1) 0%, rgba(217,225,238,1) 22%, rgba(217,225,238,1) 70%, rgba(217,225,238,1) 100%, rgba(166,192,217,1) 100%);
		// background: -webkit-linear-gradient(left, rgba(183,191,201,1) 0%,rgba(217,225,238,1) 22%,rgba(217,225,238,1) 70%,rgba(217,225,238,1) 100%,rgba(166,192,217,1) 100%);
		// background: linear-gradient(to right, rgba(183,191,201,1) 0%,rgba(217,225,238,1) 22%,rgba(217,225,238,1) 70%,rgba(217,225,238,1) 100%,rgba(166,192,217,1) 100%);

	

		.card {
			border-radius: 25px;
			padding: 25px;
			box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
			font-size: 1.1vw;
			line-height: 1.1vw;
			color: #3c3c3b;
			font-weight: 400;
			z-index: 2;
			.decorator {
				width: 50%;
				margin-left: 25%;
				margin-bottom: 15px;
				margin-top: 10px;
			}
			h4 {
				font-weight: bold;
				font-size: 30px;
				margin: 0;
				color: #0776a8;
				margin-bottom: 10px;
			}
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			background: url(../img/amarillo.png) no-repeat top right ;
			background-size: 70%;
			width: 100%;
			height: 100%;
		}
	}
	#countdown {
		background: #0776a8;
		color: #fff;
		h4 {
			color: #fff;
		}
		.clock {
			font-size: 3vw;
			line-height: 44px;
			font-weight: 900;
		}
		.btn {
			background: #fce301;
			margin: 15px 0;
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 30px;
			color: #000;
			font-weight: bold;
			font-size: 11px;
			display: inline;
		}
	}
	#zoomcloud {
		.col-lg-2 {
			padding-right: 0;
			img {
				margin: 3px 0;
			}
		}
	}
	.toolbar {
		position: fixed;
		right: 0;
		top: 0;
		width: 210px;
		height: 100%;
		// background: url(../img/bg-pattern-chico.png) no-repeat bottom left #fff;
		background-size: 150px;
		z-index: 9;
		border-radius: 50px 0 0 0;
		padding: 50px 10px;
		box-sizing: border-box;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		overflow-y: auto;
		overflow-x: hidden;
		.toolbar-header {
			display: flex;
			padding-bottom: 10px;
			border-bottom: 1px solid #f5f5f5;
			margin-bottom: 10px;
		}
		.avatar {
			width: 60px;
			height: 60px;
			border-radius: 10px;
			overflow: hidden;
			margin: 15px 2px;
			position: relative;
			flex: none;
			img {
				min-height: 60px;
				min-width: 60px;
			}
		}
		.avatar-info {
			width: 140px;
			border-radius: 10px;
			position: fixed;
			top: 33px;
			right: -200px;
			background: #fff;
			z-index: 8;
			padding: 15px;
			font-size: 12px;
			box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			.avatar-menu {
				margin-top: 10px;
			}
		}
		.avatar-info.active {
			right: 11px;
		}
		.avatar.notifications {
			&:after {
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background: #ff0000;
				position: fixed;
				top: 60px;
				margin-left: -10px;
				z-index: 10;
			}
		}
	}
	.toolbar.active {
		width: 230px;
		background: url(../img/bg-pattern-logo.png) no-repeat bottom  #fff;
		background-size: 240px;
		.avatar-icons {
			visibility: visible;
			-moz-transition-delay: .5s;
			-o-transition-delay: .5s;
			-webkit-transition-delay: .5s;
			transition-delay: .5s;
		}
		.mensajes.notifications{
			&:after {
				content: '';				
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #ff0000;
				position: fixed;
				top: 30px;
				margin-top: 52px;
				margin-left: -13px;
				z-index: 10;
			}
			img{
				margin-left: 5px;
				margin-right: 5px;
			}
		}
		.avatar.notifications {
			&:after {
				content: '';
				display: none;
				width: 10px;
				height: 10px;
				border: 2px solid #fff;
				border-radius: 50%;
				background: #ff0000;
				position: fixed;
				margin-top: 52px;
				margin-left: 31px;
				z-index: 10;
			}
		}
	}
	.toolbar.active.max {
		width: 285px;
		box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
		background: url(../img/bg-pattern-logo.png) no-repeat bottom  #fff;
		background-size: 110%;
		
		
		.avatar{
			margin-left: 20px;
		}
		.mensajes.notifications{
			&:after {
				content: '';
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #ff0000;
				position: fixed;
				top: 30px;
				margin-top: 52px;
				margin-left: -27px;
				z-index: 10;
			}
			img{
				margin-left: 20px;
				margin-right: 20px;
			}
			
		}
	}
	#calendario {
		height: 631px;
		width: 85%;
		.clases-content {
			height: 100%;
			overflow-y: auto;
		}
	}
	.clases-content {
		height: 100%;
		overflow-y: auto;
		.list-clase {
			margin: 15px 0;
			h5 {
				margin-bottom: 0;
				font-size: 16px;
				font-weight: 700;
				line-height: 22px;
			}
		}
	}
	.referencias {
		padding: 15px 5%;
		border-bottom: 1px solid #f5f5f5;
		border-top: 1px solid #f5f5f5;
		font-size: 10px;
		.habilitado {
			padding-left: 16px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 2px;
				width: 10px;
				height: 10px;
				background: #0076AB;
			}
		}
		.nodisponible {
			padding-left: 16px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 2px;
				width: 10px;
				height: 10px;
				background: #b0b0b0;
			}
		}
		.reservado {
			padding-left: 16px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 2px;
				width: 10px;
				height: 10px;
				background: #fce301;
			}
		}
	}
	.events-list {
		padding: 15px 5%;
		border-top: 1px solid #f5f5f5;
		.event {
			display: none !important;
			text-align: center;
			font-size: 11px;
			margin-bottom: 20px;
			h5 {
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 700;
				line-height: 16px;
			}
			.icono {
				background: #fce301;
				color: #000;
				padding: 2px 8px;
				border-radius: 6px;
				svg {
					width: 16px;
					height: 16px;
					margin-top: 5px;
				}
			}
		}
		.event.active {
			display: flex !important;
		}
	}
	#unidades {
		max-height: calc(100vh - 100px);
		overflow-y: auto;
		display: none;
		.card {
			background: #0776a8;
			color: #fff;
			margin-bottom: 30px;
			font-weight: 400;
			h4 {
				color: #fff;
				margin-bottom: 0;
				margin-top: 0;
			}
			.btn {
				background: #fce301;
				color: #000;
				width: max-content;
				margin-top: 15px;
				border-radius: 8px;
				font-size: 12px;
				padding-right: 25px;
				svg {
					width: 14px;
					height: 14px;
					margin-right: 20px;
				}
			}
		}
		.card.disabled {
			opacity: 0.3;
			pointer-events: none;
		}
	}
	.unlessons {
		max-height: calc(100vh - 100px);
		overflow-y: auto;
		display: none;
		.card {
			margin-bottom: 15px;
			font-weight: 400;
			cursor: pointer;
			h4 {
				color: #3c3c3b;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		.card.disabled {
			opacity: 0.3;
			cursor: default;
			pointer-events: none;
		}
		.card.test {
			background: #fce301;
			color: #000;
		}
		.card.autoevaluacion {
			background: #0076AB;
			color: #fff;
			h4 {
				color: #fff;
			}
		}
	}
	.ipless {
		display: none;
	}
	.unlessons.active {
		display: block;
	}
	#unidades.active {
		display: block;
	}
	.ipless.active {
		display: block;
	}
	#categorias {
		display: none;
		.card {
			margin-bottom: 15px;
			font-weight: 400;
			&:hover {
				color: #fce301;
				h4 {
					color: #fce301;
				}
			}
			h4 {
				color: #3c3c3b;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		.card.active {
			background: #0076AB;
			color: #fff;
			h4 {
				color: #fff;
			}
		}
		.categoria {
			cursor: pointer;
		}
		input {
			width: 90%;
			margin-top: 5px;
		}
	}
	#topicos {
		display: none;
		.topico {
			margin-bottom: 20px;
			font-weight: 400;
			cursor: pointer;
			display: none !important;
			h4 {
				color: #0076AB;
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		.topico[data-category="Glosario"] {
			margin-bottom: 5px;
			h4 {
				font-size: 13px;
				color: #3c3c3c;
			}
			&:hover {
				h4 {
					color: #fce301;
				}
				svg {
					color: #fce301;
				}
			}
		}
		.topico.active {
			display: flex !important;
		}
	}
	.detalle_topico {
		display: none;
	}
	#categorias.active {
		display: block;
	}
	#topicos.active {
		display: block;
	}
	.detalle_topico.active {
		display: block;
	}
}

.banderachica{
	width:30px;
	height: 30px;
}

.botones{
	background: #fce301;
	border-radius: 10px;
	width: 50%;
	height: 40px !important;
	padding: 10px 10px 10px 10px !important;
	border:none;
}

.botones2{
	background: #fce301;
	border-radius: 10px;
	width: 15%;
	height: 40px !important;
	padding: 10px 10px 10px 10px !important;
	border:none;
}

.botonesMic{
	border-radius: 10px !important;
	outline: none;	
}

.botoneschicos{
	background: #fce301;
	border-radius: 10px;
	width: 30px;
	height: 30px;
	padding: 3px;
	border:none;
}


.titulos2{
	font-weight: bold !important;
	margin-bottom: 2px !important;
}


.titulos4{
	font-weight: bold !important;
	margin-bottom: 2px !important;
	color:black !important;
}

.parrafos{
	color:#aaa;
	font-weight: bold;
	font-size: 15px;
}

.parrafosHome{
	color:#aaa;
	font-weight: bold;
	font-size: 20px;
}

.parrafosHome2{
	color:#aaa;
	font-weight: bold;
	font-size: 19px;
}

.fechasClases{
	color:#aaa;
	font-weight: bold;
	font-size: 26px;
}

.subtituloClases{
	color:#aaa;
	font-weight: bold;
	font-size: 40px !important;
}

.subtituloClases2{
	color:#aaa;
	font-weight: bold;
	font-size: 35px !important;
}

.agrandar-unidad{
	font-size: 27px;
}

#progreso {
	
	.col-sm-6 {
		line-height: 10px;
		margin-bottom: 5px;
		
		b {
			font-size: 1.5rem;
			padding-right: 8px;
		}
	}

	
	.detail {
		color: #0776a8;
		font-size: 0.5rem;

		b {
			font-weight: bold;
			font-size: 1.5rem;
		}		
		.border-bottom{
			border-bottom: 1px solid #0076AB ;
		}
	}
	
}
.circle {
	width: 120px;
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 15px auto;
	canvas {
		background: #fce301;
		border-radius: 50%;
		box-shadow: inset 0px 0px 0px 12px #fff;
	}
	strong {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 120px;
		font-size: 32px;
		color: #0776a8;
		font-weight: bolder;
	}
	sup {
		font-size: 16px;
	}
}
.reserclass {
	.btn {
		background: #fce301;
		margin: 15px 0;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 30px;
		color: #000;
		font-weight: bold;
		font-size: 11px;
		display: inline;
	}
	.btn.btnred {
		background: #ff6262;
	}
}
.toolbar {
	.progreso-info {
		visibility: hidden;
		position: absolute;
		right: 200px;
		top: 0;
		font-size: 12px;
		line-height: auto;
		-o-transition-delay: 0s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-moz-transition: 0s;
		-o-transition: 0s;
		-webkit-transition: 0s;
		transition: 0s;
	}
	.zoomcloud-info {
		visibility: hidden;
		position: absolute;
		right: 200px;
		top: 0;
		font-size: 12px;
		line-height: auto;
		-o-transition-delay: 0s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-moz-transition: 0s;
		-o-transition: 0s;
		-webkit-transition: 0s;
		transition: 0s;
	}
	.profile-info {
		visibility: hidden;
		position: absolute;
		right: 200px;
		top: 0;
		font-size: 12px;
		line-height: auto;
		-o-transition-delay: 0s;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
		-moz-transition: 0s;
		-o-transition: 0s;
		-webkit-transition: 0s;
		transition: 0s;
	}
	.title {
		color: #0776a8;
		font-weight: 900;
		font-size: 12px;
		line-height: 14px;
		vertical-align: bottom;
		padding-bottom: 8px;
		padding-left: 15px;
		border-bottom: 1px solid #f5f5f5;
		text-align: left;
		img {
			margin-right: 8px;
			margin-top: -2px;
		}
	}
	.clases-content {
		height: calc(100vh - 230px) !important;
		overflow-y: auto !important;
		border-top: 1px solid #f5f5f5;
	}
	.list-clase {
		margin: 15px 0;
		h5 {
			margin-bottom: 0;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
		}
	}
}
.toolbar.active.progreso {
	.progreso-info {
		visibility: visible;
		position: relative;
		right: 0;
		-moz-transition-delay: .5s;
		-o-transition-delay: .5s;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}
}
.toolbar.active.zoomcloud {
	.zoomcloud-info {
		visibility: visible;
		position: relative;
		right: 0;
		-moz-transition-delay: .5s;
		-o-transition-delay: .5s;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}
}
.toolbar.active.profile {
	.profile-info {
		visibility: visible;
		position: relative;
		right: 0;
		-moz-transition-delay: .5s;
		-o-transition-delay: .5s;
		-webkit-transition-delay: .5s;
		transition-delay: .5s;
	}
}
.avatar-icons {
	padding-top: 30px;
	padding-left: 13px;
	visibility: hidden;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-webkit-transition: 0s;
	transition: 0s;
	img {
		width: 20px;
		margin: 0 2px;
	}
}
.toolbar.progreso {
	.unidades {
		height: calc(100vh - 300px);
		overflow-y: auto;
		padding: 20px 5% 20px 15%;
		font-size: 12px;
		text-align: left;
		h3 {
			font-size: 12px;
			font-weight: 900;
			color: #0776a8;
			margin-bottom: 2px;
			b {
				font-size: 16px;
			}
		}
		.list-unidad {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			.unidad {
				padding-left: 15px;
				position: relative;
				&:before {
					content: '';
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #333;
					position: absolute;
					left: 0;
					top: 6px;
				}
			}
			.unidad.complete {
				&:before {
					background: #fce301;
				}
			}
		}
	}
}
.toolbar.zoomcloud {
	.icons {
		padding: 20px 15px;
		font-size: 13px;
		font-weight: 600;
		color: #0076AB;
		border-top: 1px solid #f5f5f5;
		border-bottom: 1px solid #f5f5f5;
		img {
			height: 25px;
			margin-right: 8px;
		}
		.d-flex {
			margin-bottom: 8px;
		}
	}
}
svg.xs {
	width: 16px;
	height: 16px;
}
.calendario-title {
	.btn {
		background: #fce301;
		position: absolute;
		top: 22px;
		right: 13px;
	}
}
.events-new {
	display: none !important;
	padding: 8px 5%;
	h3 {
		color: #0776a8;
		font-weight: 900;
		font-size: 12px;
		line-height: 14px;
		text-align: left;
	}
	select {
		width: 90%;
		margin-top: 6px;
	}
	.icono {
		background: #42bdc6;
		color: #fff;
		padding: 8px 8px;
		border-radius: 6px;
		svg {
			width: 16px;
			height: 16px;
			margin-top: 0px;
			color: #000;
		}
	}
}
.events-new.active {
	display: block !important;
}
.unlessons {
	display: none;
}
.unlessons.active {
	display: block;
}
#ejercicio {
	.close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}
.detalle_topico {
	.close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}
.ipless {
	.close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}
.toolbar.profile {
	.profile-info {
		height: calc(100vh - 160px);
		overflow-y: auto;
		padding: 20px 10px;
		font-size: 12px;
		text-align: left;
		b {
			margin-bottom: 8px;
		}
		input {
			font-size: 11px;
		}
		.btn {
			background: #fce301;
			margin: 15px 0;
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 30px;
			color: #000;
			font-weight: bold;
			font-size: 11px;
		}
	}
}
.btn-unirse.disabled {
	opacity: 0.3;
	cursor: no-drop;
	svg {
		width: 14px;
		height: 14px;
		margin-right: 20px;
	}
}
@media screen and (min-width:768px) {
	.hidden-xs {
		display: block;
	}
	.visible-xs {
		display: none;
	}
}
@media screen and (max-width:768px) {
	#dashboard {
		.login-sidebar {
			.logo {
				width: 30%;
			}
			height: auto;
			min-height: auto;
			margin: 0 15px;
			padding-top: 0px;
			position: absolute;
			.menu-btn {
				display: inline-block;
			}
		}
		.toolbar {
			height: calc(100vh - 80px);
			border-radius: 0;
		}
		.dashboard-data {
			padding: 15px 40px;
			padding-right: 100px;
			padding-top: 95px;
			padding-bottom: 95px;
			display: block;
			.card {
				margin-bottom: 15px;
				font-size: 13px;
				line-height: 15px;
				h4 {
					font-size: 3vw;
				}
			}
		}
		#zoomcloud {
			.col-lg-2 {
				img {
					width: 40px !important;
					margin-top: 30px;
					margin-right: 15px;
				}
			}
		}
	}
	#progreso {
		.detail {
			flex-wrap: nowrap;
		}
	}
	.login-sidebar {
		&:after {
			display: none;
		}
		.menu {
			padding: 0px 15px;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 9;
			background: #fafafa;
			width: 100%;
			border-top: 1px solid #ccc;
		}
	}
	.hidden-xs {
		display: none;
	}
	.visible-xs {
		display: block;
	}
	.header {
		height: 100px;
		background-size: cover;
	}
	.main-content#login {
		margin-top: 0px;
		&:before {
			height: 119px;
			background-size: auto 100%;
		}
	}
	#login {
		.login-sidebar {
			width: 105%;
			min-height: auto;
			padding-top: 0;
			z-index: 3;
			background: #1675aa;
			.logo {
				width: 50%;
				margin-left: 32%;
			}
			&:after {
				display: none;
			}
			.info {
				display: none;
			}
		}
		.login-data {
			min-height: auto;
			border-radius: 0;
			padding-top: 80px;
			padding-bottom: 100px;
			display: block;
			.card-content {
				width: 90%;
				margin-left: 5%;
			}
		}
	}
	.logo-unc {
		position: absolute;
		right: 25px;
		bottom: 25px;
		z-index: 9;
		width: 30%;
	}
}

.imagen1{
	width: 60% !important;
	border-radius: 100%;
}

.altura{
	height: 110px !important;
	width: 170% !important;
}

.formsass{
	border:3px solid #aaa;
	border-radius: 10px;
	font-weight: bold;
	font-size: .9rem;	
}
input[type=submit]{
	background: #fce301 ;
	border: none;
}

.banderachica{
	width:30px;
	height: 30px;
}

.botones{
	background: #fce301;
	border-radius: 10px;
	width: 50%;
	padding: 10px 10px 0 10px;
	border:none;
}

.botoneschicos{
	background: #fce301;
	border-radius: 10px;
	width: 30px;
	height: 30px;
	padding: 3px;
	border:none;
}


.titulos2{
	font-weight: bold !important;
	margin-bottom: 2px !important;
}

.titulos3{
	color: #1675aa;
	font-weight: bold !important;
}
.titulos4{
	font-weight: bold !important;
	margin-bottom: 1px !important;
	color:black !important;
}

.achicar{
	width:20px;
	height: 20px;
}

.parrafos{
	color:#aaa;
	font-weight: bold;
	font-size: 15px;
}

.parrafo2{
	color: #1675aa;
	font-size: .9rem;
}

.parrafos3{
	font-weight: bold;
}
.parrafo4{
	color:#aaa;
	font-weight: 900;
	font-size: 12px;
}

.achicarletra{
	font-size: .6rem;
}

.achicarletra2{
	font-size: 10.5px;
	color: #aaa;
	font-weight: bold;
}
.achicarletra3{
	font-size: 10px;
	font-weight: bold;
	color: black;
}
.achicarletra4{
	font-size: 10px;
	color: #aaa;
	font-weight: bold;
}

.achicartitulo{
	font-size: 12px !important;
	color: #1675aa;
	font-weight: 900;
}

.background{
	background: #1675aa;
	color: white;
}

.background:focus{
	background: #1675aa;
	color: white;
}

.alturaClases{
	height: 305px;
	width: 95%;
}

.titulosClases{
	font-size: 20px !important;
	font-weight: bold !important;
	color: black;
}

.anchoAsistencia{
	width: 85%;
}

.parrafoAsistencia{
	color: #1675aa;
	font-size: 15px;
	font-weight: bold;
}

.achicarPago{
	width: 15%;
	height: 15%;
}

.parrafoPago{
	color: #1675aa;
	font-weight: 900;
	text-align: left;	
}

.parrafosAsistencia{
	color:#aaa;
	font-weight: bold;
	font-size: 18px;
}

.TituloDash{
	font-size: 20px !important;
}

.boldHome{
	font-weight: bold;
}

.pagos.disabled {
	.info {
		display: none;
	}
	.links {
		opacity: .4;
		cursor: initial;
	}
}

.bordeImg{
	border-radius: 25px;	
}